
.ipynb_checkpoints/Multi-step Time Series Forecasting with Machine Learning for Household Electricity Consumption-checkpoint.ipynb
csv/household_power_consumption.csv
csv/household_power_consumption_days.csv
data/household_power_consumption.txt
